# Comienza Sabro.us v1.8
<IfModule mod_rewrite.c>
RewriteEngine on

RewriteRule tag/(.+)/pag/([0-9]{1,})/busqueda/([^/]+)(/)? index.php?tag=$1&pag=$2&busqueda=$3 [L]
RewriteRule tag/(.+)/pag/([0-9]{1,})(/)? index.php?tag=$1&pag=$2 [L]

RewriteRule tag/(.+)/busqueda/([^/]+)(/)? index.php?tag=$1&busqueda=$2 [L]									
RewriteRule tag/([^/]+)(/)? index.php?tag=$1 [L]															

RewriteRule atom/([^/]+) atom.php?tag=$1 [L]
RewriteRule rss92/([^/]+) rss92.php?tag=$1 [L]
RewriteRule rss/([^/]+) rss.php?tag=$1 [L]
RewriteRule rss92 rss92.php [L]
RewriteRule rss rss.php [L]
RewriteRule atom atom.php [L]

RewriteRule pag/([0-9]{1,})/busqueda/([^/]+) index.php?pag=$1&busqueda=$2 [L]
RewriteRule pag/([0-9]{1,}) index.php?pag=$1 [L]															

</IfModule>
# Termina Sabro.us v1.8  